.item-list-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 30px; /* espacio entre navbar y la primera fila de items */

}

.item-list-flex > * {
  flex: 0 0 200px;
}

/* Para tablets ya establecido*/
@media (max-width: 992px) {
  .item-list-flex > * {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Para móviles ya establecido */
@media (max-width: 576px) {
  .item-list-flex > * {
    flex: 1 1 100%;
  }
}
