.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;                /* espacio entre tarjetas */
  justify-content: center;  /* alineadas a la izquierda */
  padding: 20px;            /* evita que el texto de la primera tarjeta se corte */
}

.item-list > * {
  flex: 1 1 calc(25% - 20px); /* 4 tarjetas por fila */
  box-sizing: border-box;
}

/*  Tamaño para las Tablets */
@media (max-width: 992px) {
  .item-list > * {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Tamaño para los Móviles */
@media (max-width: 576px) {
  .item-list > * {
    flex: 1 1 100%;
  }
}
