body { 
    font-family: Arial, Helvetica, sans-serif; margin: 0; background: #fff; }

    .navbar 
{ display: flex; justify-content: space-between; align-items:center; padding:12px 20px; background:#0077cc; color: #fff;}

.navbar a 
{ color: #fff; text-decoration: none; margin-right: 8px;}

.item-list-container 
{ padding: 20px; display:flex; gap: 20px; flex-wrap: wrap; justify-content:center; }

.btn-primary 
{ padding: 8px 12px; border-radius:6px; background: #007bff; color:#fff; border:none; cursor:pointer; }


.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer .social-icons {
    margin-bottom: 10px;
  }
  
  .footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .footer .social-icons img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  